body {  
  background-image: url("../public/Images/Gaming\ page-1.png");
  background-repeat: no-repeat;

  
}

.MainHeading{
  position: absolute;
  width: 578px;
  height: 82px;
  left: 81.92px;
  top: 246.98px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: #340A6B; 
}

.box{
  position: absolute;
  width: 429.77px;
  height: 201.03px;
  left: 81.92px;
  top: 378px;
}

p{
  display: inline;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: rgba(124, 76, 173, 0.62);
  line-height: 71px;
}

h2{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  display: inline;
  color: #7C4CAD;
  cursor: pointer;
}

h2:hover{
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  font-size: 50px;
}

button{
  position: absolute;
  width: 292.08px;
  height: 60.49px;
  left: 73.92px;
  top: 657.14px;
  background: #6CE378;
  border-radius: 165px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  color: #000000;
  cursor: pointer;
}